html {
  font-family: 'Molengo', sans-serif;
  text-align: center;
}
.container {
  display: flex;
  background-color: #fff;
  justify-content: center;
}

.container2 {
  display: flex;
  background-color: #fff;
  justify-content: center;
}

.container3 {
  display: flex;
  background-color: #fff;
  justify-content: center;
}

.container4 {
  display: flex;
  background-color: #fff;
  justify-content: center;
}

.container5 {
  display: flex;
  background-color: #fff;
  justify-content: center;
}

.container6 {
  display: flex;
  background-color: #fff;
  justify-content: center;
}

.container7 {
  display: flex;
  background-color: #fff;
  justify-content: center;
}

.blackbox {
  background-color: Black;
  height: 500px;
  width: 300px;
  justify-content: center;
}

.greenbox {
  background-color: SeaGreen;
  height: 500px;
  width: 300px;
}

.blackbox2 {
  background-color: Black;
  height: 500px;
  width: 250px;
  justify-content: center;
  border: 1px solid black;
}

.whitebox {
  background-color: White;
  height: 500px;
  width: 250px;
  border: 1px solid black;
}

.blackbox-thin {
  background-color: Black;
  height: 500px;
  width: 50px;
  border: 1px solid black;
}

.whitebox-thin {
  background-color: White;
  height: 500px;
  width: 50px;
  border: 1px solid black;
}

.orangeredbox {
  background-color: Orangered;
  margin: 25px;
  height: 500px;
  width: 300px;
}

.dodgerbluebox {
  background-color: Dodgerblue;
  margin: 25px;
  height: 500px;
  width: 300px;

}

.bluebox-w-border {
  background-color: #cce7ff;
  margin: 25px;
  height: 500px;
  width: 200px;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.yellow-column {
  background-color: Yellow;
  height: 350px;
  width: 50px;
}

.black-column {
  background-color: Black;
  height: 350px;
  width: 50px;
}

.blue-column {
  background-color: #cce7ff;
  height: 350px;
  width: 50px;
}

.white-column {
  background-color: White;
  height: 350px;
  width: 50px;
}

.black-column2 {
  background-color: Black;
  height: 500px;
  width: 50px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.red-column {
  background-color: Red;
  height: 500px;
  width: 150px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-right: 2px solid black;
  margin-right: 40px;
}

.gold-column {
  background-color: Gold;
  height: 500px;
  width: 150px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.white-column2 {
  background-color: White;
  height: 500px;
  width: 150px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.black-column3 {
  background-color: Black;
  height: 500px;
  width: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.blue-column2 {
  background-color: DeepSkyBlue;
  height: 500px;
  width: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
